In [170]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [171]:
df_bici = pd.read_csv('datos_abiertos_2014_12.csv')
df_estaciones = pd.read_csv('nomenclatura_2022_08.csv', encoding = "ISO-8859-1")
df_bici

,Viaje_Id,Usuario_Id,Genero,Año_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,Origen_Id,Destino_Id
0,4601,10324,M,NaN,2014-12-01 00:33:47,2014-12-01 00:36:54,47,47
1,4604,10324,M,NaN,2014-12-01 01:06:54,2014-12-01 01:08:45,5,5
2,4628,3,F,1990.0,2014-12-01 09:47:20,2014-12-01 09:47:47,79,79
3,4631,102,M,1982.0,2014-12-01 09:48:23,2014-12-01 09:48:37,79,79
4,4632,3,F,1990.0,2014-12-01 09:48:46,2014-12-01 09:48:57,79,79
...,...,...,...,...,...,...,...,...
23962,42029,1736,M,1966.0,2014-12-31 22:43:35,2014-12-31 22:56:17,51,38
23963,42030,20342,M,NaN,2014-12-31 22:49:43,2014-12-31 23:04:32,77,50
23964,42031,20342,M,NaN,2014-12-31 23:09:37,2014-12-31 23:25:23,50,37
23965,42032,1736,M,1966.0,2014-12-31 23:33:28,2014-12-31 23:39:59,51,52
23966,42033,16054,M,1976.0,2014-12-31 23:38:57,2014-12-31 23:47:09,14,47

In [172]:
df_bici.isnull().sum()

Viaje_Id               0
Usuario_Id             0
Genero                 5
Año_de_nacimiento    220
Inicio_del_viaje       0
Fin_del_viaje          0
Origen_Id              0
Destino_Id             0
dtype: int64

In [173]:
from math import floor
df_bici['Año_de_nacimiento'] = df_bici['Año_de_nacimiento'].fillna(floor(df_bici['Año_de_nacimiento'].mean()))

In [174]:
df_bici = df_bici.dropna()
df_estaciones.head()

,id,name,obcn,location,latitude,longitude,status
0,2,(GDL-001) C. Epigmenio Glez./ Av. 16 de Sept.,GDL-001,POLÍGONO CENTRAL,20.666378,-103.348820,IN_SERVICE
1,3,(GDL-002) C. Colonias / Av. Niños héroes,GDL-002,POLÍGONO CENTRAL,20.667228,-103.366000,IN_SERVICE
2,4,(GDL-003) C. Vidrio / Av. Chapultepec,GDL-003,POLÍGONO CENTRAL,20.667690,-103.368252,IN_SERVICE
3,5,(GDL-004) C. Ghilardi /C. Miraflores,GDL-004,POLÍGONO CENTRAL,20.691750,-103.362550,IN_SERVICE
4,6,(GDL-005) C. San Diego /Calzada Independencia,GDL-005,POLÍGONO CENTRAL,20.681151,-103.338863,IN_SERVICE

In [175]:
df_new = pd.merge(df_bici, df_estaciones, left_on='Origen_Id', right_on='id')

df_new = pd.merge(df_new, df_estaciones, left_on ='Destino_Id', right_on = 'id')
df_new = df_new.drop(['name_x', 'name_y', 'Origen_Id', 'Destino_Id'], axis=1)

In [176]:
df_new = df_new.sort_values('Viaje_Id')
df_new['Año_de_nacimiento'] = df_new['Año_de_nacimiento'].astype(int)
df_new

,Viaje_Id,Usuario_Id,Genero,Año_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,id_x,obcn_x,location_x,latitude_x,longitude_x,status_x,id_y,obcn_y,location_y,latitude_y,longitude_y,status_y
0,4601,10324,M,1981,2014-12-01 00:33:47,2014-12-01 00:36:54,47,GDL-045,POLÍGONO CENTRAL,20.675444,-103.370147,IN_SERVICE,47,GDL-045,POLÍGONO CENTRAL,20.675444,-103.370147,IN_SERVICE
5451,4604,10324,M,1981,2014-12-01 01:06:54,2014-12-01 01:08:45,5,GDL-004,POLÍGONO CENTRAL,20.691750,-103.362550,IN_SERVICE,5,GDL-004,POLÍGONO CENTRAL,20.691750,-103.362550,IN_SERVICE
7487,4628,3,F,1990,2014-12-01 09:47:20,2014-12-01 09:47:47,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE
7488,4631,102,M,1982,2014-12-01 09:48:23,2014-12-01 09:48:37,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE
7489,4632,3,F,1990,2014-12-01 09:48:46,2014-12-01 09:48:57,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8993,42029,1736,M,1966,2014-12-31 22:43:35,2014-12-31 22:56:17,51,GDL-049,POLÍGONO CENTRAL,20.674087,-103.356320,IN_SERVICE,38,GDL-036,POLÍGONO CENTRAL,20.676078,-103.356458,IN_SERVICE
3748,42030,20342,M,1981,2014-12-31 22:49:43,2014-12-31 23:04:32,77,GDL-075,POLÍGONO CENTRAL,20.669628,-103.348768,IN_SERVICE,50,GDL-048,POLÍGONO CENTRAL,20.674721,-103.358548,IN_SERVICE
21121,42031,20342,M,1981,2014-12-31 23:09:37,2014-12-31 23:25:23,50,GDL-048,POLÍGONO CENTRAL,20.674721,-103.358548,IN_SERVICE,37,GDL-035,POLÍGONO CENTRAL,20.677315,-103.353414,IN_SERVICE
15397,42032,1736,M,1966,2014-12-31 23:33:28,2014-12-31 23:39:59,51,GDL-049,POLÍGONO CENTRAL,20.674087,-103.356320,IN_SERVICE,52,GDL-050,POLÍGONO CENTRAL,20.675746,-103.354579,IN_SERVICE
49,42033,16054,M,1976,2014-12-31 23:38:57,2014-12-31 23:47:09,14,GDL-012,POLÍGONO CENTRAL,20.681989,-103.362920,IN_SERVICE,47,GDL-045,POLÍGONO CENTRAL,20.675444,-103.370147,IN_SERVICE

In [177]:
routes = pd.Series(df_new['obcn_x'] + '>' + df_new['obcn_y'])
df_new = pd.concat([df_new, routes.rename('Route')], axis=1)
df_new.head()

,Viaje_Id,Usuario_Id,Genero,Año_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,id_x,obcn_x,location_x,latitude_x,longitude_x,status_x,id_y,obcn_y,location_y,latitude_y,longitude_y,status_y,Route
0,4601,10324,M,1981,2014-12-01 00:33:47,2014-12-01 00:36:54,47,GDL-045,POLÍGONO CENTRAL,20.675444,-103.370147,IN_SERVICE,47,GDL-045,POLÍGONO CENTRAL,20.675444,-103.370147,IN_SERVICE,GDL-045>GDL-045
5451,4604,10324,M,1981,2014-12-01 01:06:54,2014-12-01 01:08:45,5,GDL-004,POLÍGONO CENTRAL,20.691750,-103.362550,IN_SERVICE,5,GDL-004,POLÍGONO CENTRAL,20.691750,-103.362550,IN_SERVICE,GDL-004>GDL-004
7487,4628,3,F,1990,2014-12-01 09:47:20,2014-12-01 09:47:47,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE,GDL-077>GDL-077
7488,4631,102,M,1982,2014-12-01 09:48:23,2014-12-01 09:48:37,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE,GDL-077>GDL-077
7489,4632,3,F,1990,2014-12-01 09:48:46,2014-12-01 09:48:57,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE,79,GDL-077,POLÍGONO CENTRAL,20.675631,-103.361340,IN_SERVICE,GDL-077>GDL-077

In [181]:
Names = list(df_new.keys())
Names

['Viaje_Id',
 'Usuario_Id',
 'Genero',
 'Año_de_nacimiento',
 'Inicio_del_viaje',
 'Fin_del_viaje',
 'id_x',
 'obcn_x',
 'location_x',
 'latitude_x',
 'longitude_x',
 'status_x',
 'id_y',
 'obcn_y',
 'location_y',
 'latitude_y',
 'longitude_y',
 'status_y',
 'Route']

In [182]:
group_routes = df_new.groupby(['Route']).count().drop([
 'Usuario_Id',
 'Genero',
 'Año_de_nacimiento',
 'Inicio_del_viaje',
 'Fin_del_viaje',
 'id_x',
 'obcn_x',
 'location_x',
 'latitude_x',
 'longitude_x',
 'status_x',
 'id_y',
 'obcn_y',
 'location_y',
 'latitude_y',
 'longitude_y',
 'status_y'], axis=1)

In [187]:
group_routes.sort_values('Viaje_Id', ascending=False)

                 Viaje_Id
Route
GDL-073>GDL-073       156
GDL-049>GDL-049       110
GDL-048>GDL-048        97
GDL-052>GDL-052        91
GDL-084>GDL-084        88
...                   ...
GDL-057>GDL-003         1
GDL-056>GDL-082         1
GDL-056>GDL-081         1
GDL-056>GDL-075         1
GDL-046>GDL-047         1

[4916 rows x 1 columns]

In [180]:
# statement that erases string elements at strings in a column 
# prueba1['obcn'] = prueba1['obcn'].map(lambda x: x.lstrip('GDL-').rstrip('asdfwe'))

# Statement that gets rows with strings that start with certain elements
#df_estaciones_gdl = df_estaciones[df_estaciones['obcn'].str.startswith('GDL')]